#detailed-page-container {
    width: 85%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

#detailed-page-left-container {
    width: 75%;
}

#detailed-page-right-container {
    width: 25%;
    padding-top: 70px;
}

