
    <div id="video-container">
        <div id="thumb-container">
            <img [src]= "videos[testNr].thumbnailUrl" alt="">
            <p>{{videos[testNr].views}}</p>
            <p>{{videos[testNr].duration}}</p>
        </div>
        <div id="info-container">
            <div id="pp-container">
                <img [src]= "videos[testNr].profileUrl"  alt="">
            </div>
            <div id="info-sub-container">
                <h3>{{videos[testNr].title}}</h3>
                <div>
                    <p>{{videos[testNr].profileName}}</p>
                    <p>{{videos[testNr].date}}</p>
                </div>
            </div>
        </div>
    </div>


