

#subs-container {
    width: 85%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
}

#subs-container div {
    margin: 0 7px;
    border-radius: 150px;
    padding: 9px 5px;
}

#subs-container img {
    border-radius: 50%;
}