<div id="comment-container">
    <div id="pp-container">
        <img [src]= "comments[amount].profileUrl" alt="">
    </div>
    <div id="info-sub-container">
        <div id="name-date-container">
            <h3>{{comments[amount].profileName}}</h3>
            <p>{{comments[amount].date}}</p>
        </div>
        <div id="comcomment-container">
            <p>{{comments[amount].comment}}</p>
        </div>
        <div id="like-reply-container">
            <div id="like-reply-sub-container">
                <span class="material-icons icon-color icon-size">thumb_up</span>
                <p>{{comments[amount].likes}}</p>
                <p>REPLY</p>
            </div>
            <a href="">View {{comments[amount].replies}} replies</a>
        </div> 
    </div>
</div>